doctype html

.c-form

    h2.c-title-m.c-form__section Launch from JSON

    base-web-sdk-form-component(
        [formData]="baseFormData",
    )

    .c-form__section
        label.c-text-l(
            for="appStateJSONString",
        ) App state JSON string
        textarea(
            id="appStateJSONString",
            [(ngModel)]="formData.appStateJSONString",
        )

    .c-form__section
        button.c-btn.c-btn--primary(
            (click)="launchFromJson()",
        ) Launch from JSON
