.c-launch-with-items__section {
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

    .c-launch-with-items__section__line-item {
        margin-bottom: 12px;
    }

    .c-launch-with-items__section__input-section {
        margin-bottom: 12px;
    }

    .c-launch-with-items__image {
        width: 200px;
        max-width: 100%;
    }
