.c-header

    h1.c-title-l Kite web app SDK example

    a.c-text-m.c-header__link(
        href="#/launch-with-items",
    ) Launch with items

    a.c-text-m.c-header__link(
        href="#/launch-from-json",
    ) Launch from JSON
